div{
  background-color: #e4f9f5;
  width: 100%;
}
body{
  margin:0;
}
h1{
  margin-top: 0px;
}
.top-container{

}
.middle-container{
  height: 200px;
  width: 200px;
  background-color: blue

}
.bottom-container{
  height: 200px;
  width: 200px;
  background-color: coral;
}
